/* HEADER  */

 header {
    padding-top: 71px;
    padding-bottom: 92px;    
 }

.header-list {
display: flex;
justify-content: center;
}

.header-item {
    margin-right: 100px;
}

.header-item:last-child {
    margin-right: 0;
}

.link-header {
    color: #7D7D7D;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.4;
    
}

.link-header:hover {
    color:  $akcent-color;
}

.link-header:focus {
    color:  $akcent-color;
}